body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/*
Styles now in Modal.css...
.modal {
  background-color: rgba(0,150,0,0.5);
  position: fixed;
  height: 20%;
  width: 20%;
  top: 10%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

/*
Transition triggered when you hover over the modal
.modal:hover {
  top: 0%;
  left: 0%;
  height: 50%;
  width: 50%;
}
*/

/*
.popup-enter {
  opacity: 0.01;
  top: 10%;
  left: 10%;
  height: 25%;
  width: 25%;
}
.popup-enter.popup-enter-active {
  opacity: 1;
  top: 0%;
  left: 0%;
  height: 50%;
  width: 50%;
  transition: opacity, top, left, height, width 1000ms ease-in;
}

.popup-appear {
  opacity: 0.01;
  top: 10%;
  left: 10%;
  height: 25%;
  width: 25%;
}
.popup-appear.popup-appear-active {
  opacity: 1;
  top: 0%;
  left: 0%;
  height: 50%;
  width: 50%;
  transition: opacity, top, left, height, width 1000ms ease-in;
}

.popup-exit {
  opacity: 1;
}
.popup-exit.popup-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}
*/
